<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
	<th:block th:each="num : ${arr}">
	 <p th:if = "${num % 1 == 0}" th:text="${num}"></p> 
	</th:block>
</body>
</html>