<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="EUC-KR">
<style>
    table, th, td {
      border: 1px solid black;
    }
    table {
     border-collapse: collapse;
    }
    td{
		width: 120px;
		text-align: center;
	}
  </style>
<title>Insert title here</title>

<body>

<table>
  <tr>
    <th>성</th>
    <th>이름</th>
    <th>나이</th>
    <th>주소</th>
    <th>거주여부</th>
  </tr>
<th:block th:each="dto : ${list}">
  <tr>
    <td>[[${#strings.substring(dto.name, 0, 1)}]]</td>
    <td>[[${#strings.substring(dto.name, 1, 3)}]]</td>
    <td>[[${dto.age}]]</td>
    <td>[[${dto.address}]]</td>
      <td>[[${#strings.contains(dto.address, '인천')==true} ? 거주 :비거주]]</td>
  </tr> 
</th:block>
  
</table>
</body>
</html>
</body>
</html>